html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7b2a5;
  /* flex-direction: row; */
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
#timer {
  text-align: center;
  height: 2.5rem;
  width: 18rem;
}
li {
  font-size: 30px;
  border-style: solid;
  background-color: green;
  margin: 5px;
  padding: 20px;
}
.completed {
  background-color: rgb(69, 246, 69, 0.9);
}
.on-going {
  background-color: rgb(238, 238, 62, 0.9);
}
.in-coming {
  background-color: rgb(182, 10, 10, 0.9);
}
